.title {
  display: flex;
  align-items: center;
  color: gray;
}

.button {
  text-align: center;
  padding: 5px;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  border: solid 2px gray;
  line-height: 14px;
  font-size: 1.8rem;
}

.expansionContainer {
  width: 600px;
  border-bottom: solid 1px lightgray;
  cursor: pointer;
}

.expansionContainer:hover > .title {
  color: aquamarine;
}

.answerdContainer {
  width: 100%;
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition-duration: .4s;
}