.container {
  width: fit-content; // Set the with of the content of the container
  height: 30px;
  color: black;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.link {
  font-size: 1.1rem;
}

.container .bar {
  width: 0%;
  visibility: hidden;
  border: solid 1px #6ecbb8!important;
  transition-duration: .6s;
}

.container:hover > .bar {
  width: 100%;
  visibility: visible;
}